.about
{
    margin: 80px 10px;
}

@media only screen and (max-width: 599px) {
    .about .titleContainer
    {
        margin: 0 auto;
        width: 80%;
    }

    .about .title
    {
        font-size: 38px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .about .description
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 20px;
    }

    .about .aboutDetail
    {
        padding: 20px 0px;
        width: 100%;
        margin: 0 auto;
        overflow: auto;
    }

    .about .aboutDetailLeft
    {
        width: 100%;
        position: relative;
        float: left;
    }

    .about .aboutDetailLeft>div
    {
        margin: 20px 30px;
    }

    .about .aboutDetailLeft img
    {
        width: 100%;
    }

    .about .aboutDetailRight
    {
        width: 100%;
        position: relative;
        float: left;
    }

    .about .aboutDetailRight>div
    {
        margin: 0px 30px;
    }

    .about .aboutDetailRight .title
    {
        font-size: 30px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }

    .about .aboutDetailRight .description
    {
        font-size: 22px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }
    .aboutAdditionalInfo
    {
        width: 90%;
        margin: 0 auto;
    }
    .aboutAdditionalInfo .aboutInfoGrid
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
    }

    .aboutAdditionalInfo .aboutInfoGrid .aboutInfoGridCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryTitles
    {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryDescription
    {
        font-size: 22px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}

/* Mobile Styles */
@media only screen and (min-width: 600px) and (max-width: 999px) {
    .about .titleContainer
    {
        margin: 0 auto;
        width: 80%;
    }

    .about .title
    {
        font-size: 48px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .about .description
    {
        font-size: 28px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }

    .about .aboutDetail
    {
        padding: 20px 0px;
        width: 90%;
        margin: 0 auto;
        overflow: auto;
    }

    .about .aboutDetailLeft
    {
        width: 100%;
        position: relative;
        float: left;
    }

    .about .aboutDetailLeft>div
    {
        margin: 20px 50px;
    }
    
    .about .aboutDetailLeft img
    {
        width: 100%;
    }

    .about .aboutDetailRight
    {
        width: 100%;
        position: relative;
        float: left;
    }

    .about .aboutDetailRight>div
    {
        margin: 0px 50px;
    }

    .about .aboutDetailRight .title
    {
        font-size: 48px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }

    .about .aboutDetailRight .description
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }
    .aboutAdditionalInfo
    {
        width: 90%;
        margin: 0 auto;
    }
    .aboutAdditionalInfo .aboutInfoGrid
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
    }

    .aboutAdditionalInfo .aboutInfoGrid .aboutInfoGridCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryTitles
    {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryDescription
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 1000px) and (max-width: 1599px) {
    .about .titleContainer
    {
        margin: 0 auto;
        width: 80%;
    }

    .about .title
    {
        font-size: 56px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .about .description
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }

    .about .aboutDetail
    {
        padding: 100px 0px;
        width: 90%;
        margin: 0 auto;
        overflow: auto;
    }

    .about .aboutDetailLeft
    {
        width: 45%;
        position: relative;
        float: left;
    }

    .about .aboutDetailLeft>div
    {
        margin: 20px 50px;
    }

    .about .aboutDetailLeft img
    {
        width: 100%;
    }

    .about .aboutDetailRight
    {
        width: 55%;
        position: relative;
        float: left;
    }

    .about .aboutDetailRight>div
    {
        margin: 0px 50px;
    }

    .about .aboutDetailRight .title
    {
        font-size: 48px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }

    .about .aboutDetailRight .description
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }

    .aboutAdditionalInfo
    {
        width: 90%;
        margin: 0 auto;
    }
    .aboutAdditionalInfo .aboutInfoGrid
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
    }

    .aboutAdditionalInfo .aboutInfoGrid .aboutInfoGridCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryTitles
    {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryDescription
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 1600px) {
    .about .titleContainer
    {
        margin: 0 auto;
        width: 80%;
    }

    .about .title
    {
        font-size: 62px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .about .description
    {
        font-size: 28px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }

    .about .aboutDetail
    {
        padding: 100px 0px;
        width: 90%;
        margin: 0 auto;
        overflow: auto;
    }

    .about .aboutDetailLeft
    {
        width: 45%;
        position: relative;
        float: left;
    }

    .about .aboutDetailLeft>div
    {
        margin: 20px 50px;
    }

    .about .aboutDetailLeft img
    {
        width: 100%;
    }

    .about .aboutDetailRight
    {
        width: 55%;
        position: relative;
        float: left;
    }

    .about .aboutDetailRight>div
    {
        margin: 0px 50px;
    }

    .about .aboutDetailRight .title
    {
        font-size: 50px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }

    .about .aboutDetailRight .description
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        text-align: center;
        padding-bottom: 40px;
    }
    .aboutAdditionalInfo
    {
        width: 90%;
        margin: 0 auto;
    }
    .aboutAdditionalInfo .aboutInfoGrid
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
    }

    .aboutAdditionalInfo .aboutInfoGrid .aboutInfoGridCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryTitles
    {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .aboutAdditionalInfo .aboutSummaryDescription
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}