@import url("fonts.css");

.body
{
    margin: 80px 10px;
}

/* Ttile */
.titleContainer
{
    margin: 0 auto;
    width: 50%;
}

.title
{
    font-size: 48px;
    font-family: 'Darker Grotesque', sans-serif;
    color:#3a484f;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.description
{
    font-size: 24px;
    font-family: 'Thasadith', sans-serif;
    color:#3a484f;
    text-align: center;
    padding-bottom: 50px;
}

/* Links */
.links
{
    text-align: center;
}

.linksStyle
{
    overflow: auto;
    display: inline-table;
    padding: 0px;
    margin: 0
}

.linkItem
{
    display: inline;
    list-style-type: none;
    padding: 0px 12px;;
}

.linkItem a
{
    text-decoration: underline;
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
    color: #3f484f;
}

.linkItem a:hover
{
    text-decoration: none;
    color:white;
    background-color: black;
}

/* Projects */
.projects
{
    padding-top: 100px;
    margin: 0px 140px;
}
.projectGridContainer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    grid-auto-rows: 350px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.projectScale1
{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-end: span 1;
    grid-row-end: span 1;
    border-radius: 10px;
    overflow: hidden;
}

.projectScale2
{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-end: span 1;
    grid-row-end: span 2;
    border-radius: 10px;
    overflow: hidden;
}

.projectScale4
{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-end: span 2;
    grid-row-end: span 2;
    border-radius: 10px;
    overflow: hidden;
}

.projectImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectItem
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #333333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projectItem:hover
{
    opacity: 0.8;
}

.projectTitle
{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 50px;
}

.projectDescription
{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 110px;
}

.projectLink
{
    text-align: center;
}
.projectLink a
{
    font-size: 12px;
    font-family: 'Thasadith', sans-serif;
    color: #5d92ff;
}
