@import url("fonts.css");


.footer
{
    height:180px;
    background-color: #F2F7FA;
    position: relative;
    width:100%;
}

.copyright
{
    margin: 0;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: normal;
    color: #3a484f;
}

.footerLink
{
    margin: 0;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.footerLink a
{
    margin: 0px 10px;
}

.footerLink div
{
    width: 18px;
    height: 18px;
}

.footerGithub
{
    background: url("/githubFooter.png") no-repeat;
    background-size: 18px 18px;
    display: inline-block;
}

.footerGithub:hover
{
    background: url("/githubFooterHover.png") no-repeat;
    background-size: 18px 18px;
    display: inline-block;
}

.footerLinkedin
{
    background: url("/linkedinFooter.png") no-repeat;
    background-size: 18px 18px;
    display: inline-block;
}

.footerLinkedin:hover
{
    background: url("/linkedinFooterHover.png") no-repeat;
    background-size: 18px 18px;
    display: inline-block;
}


/* Mobile Styles */
@media only screen and (max-width: 636px) {    
    .footer
    {
        height:150px;
    }
    .copyright
    {
        font-size: 14px;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 637px) and (max-width: 1599px) {
    .copyright
    {
        font-size: 16px;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 1600px) {
    .copyright
    {
        font-size: 18px;
    }
}