@import url("fonts.css");

.footer
{
    height:180px;
    background-color: #F2F7FA;
    position: relative;
    width:100%;
    bottom: 0;
}

.copyright
{
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Thasadith', sans-serif;
    color: #3a484f;
    font-size: 18px;
}