@import url("fonts.css");

.header
{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; 
    background-color: #FFF;
    z-index: 1;
}

.header.active
{
    top: -90px;
}

.container {
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

/* Mobile Styles */
@media only screen and (max-width: 653px) {
    .header
    {
        padding: 20px 0px;
        overflow-y: auto;
    }
    
    .headerLeft
    {
        float: left;
        width: 100%;
    }
    
    .headerRight
    {
        position: absolute;
        right: 0;
        width: 20%;
    }
    
    /* Logo */
    .logo img
    {
        display: block;
        margin: auto;
    }
    
    /* Navigation */

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
    }

    .navigation
    {
        float: right;
        padding-right: 30px;
    }
    
    .navPanel
    {
        height: 100%;
        width: 0px;
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s; 
        transition-duration: 0.5s;
        background-color: black;
    }

    .navPanel.active
    {
        width:150px;
    }

    .navStyle
    {
        list-style-type: none;
        padding-top: 50px;
        padding-left: 0px;
        text-align: center;
        margin: 0;
        overflow: hidden;
    }
    
    .navClose
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: bold;
        color:#bdc4c8;
        padding-bottom: 30px;
    }

    .navItem
    {
        padding-bottom: 8px;
    }

    .navItem a{
        text-decoration: none;
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: bold;
        color:#bdc4c8;
    }
    
    .navItem a.active{
        color:#3a484f;
    }
    
    .navItem a:hover{
        color:#3a484f;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 654px) and (max-width: 1173px) {
    .header
    {
        padding: 20px 0px;
        overflow-y: auto;
    }
    
    .headerLeft
    {
        float: left;
        width: 100%;
    }
    
    .headerRight
    {
        position: absolute;
        right: 0;
        width: 20%;
    }
    
    /* Logo */
    .logo img
    {
        display: block;
        margin: auto;
    }
    
    /* Navigation */
    
    .bar1, .bar2, .bar3 {
        width: 24px;
        height: 4px;
        background-color: #333;
        margin: 4px 0;
    }

    .navigation
    {
        float: right;
        padding-right: 80px;
    }

    .navPanel
    {
        height: 100%;
        width: 0px;
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s; 
        transition-duration: 0.5s;
        background-color: black;
    }

    .navPanel.active
    {
        width:150px;
    }

    .navStyle
    {
        list-style-type: none;
        padding-top: 50px;
        padding-left: 0px;
        text-align: center;
        margin: 0;
        overflow: hidden;
    }

    .navClose
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: bold;
        color:#bdc4c8;
        padding-bottom: 30px;
    }

    .navItem
    {
        padding-bottom: 8px;
    }

    .navItem a{
        text-decoration: none;
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: bold;
        color:#bdc4c8;
    }

    .navItem a.active{
        color:#3a484f;
    }
    
    .navItem a:hover{
        color:#3a484f;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 1174px) {
    .header
    {
        padding-top: 50px;
        margin: 0px 30px;
        overflow: auto;
    }
    
    .headerLeft
    {
        float: left;
        width: 50%;
    }
    
    .headerRight
    {
        float: left;
        width: 50%;
    }
    
    /* Logo */
    
    .logo img
    {
        padding-left: 40px;
        width: 190px;
    }
    
    
    /* Navigation */

    .container {
        display: none;
    }

    .navigation
    {
        float: right;
    }
    
    .navStyle
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navClose
    {
        display: none;
    }

    .navItem
    {
        float: left;
        padding: 0px 50px;
    }
    
    .navItem a{
        text-decoration: none;
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: bold;
        color:#bdc4c8;
    }
    
    .navItem a.active{
        color:#3a484f;
    }
    
    .navItem a:hover{
        color:#3a484f;
    }
}
