@import url("fonts.css");

.header
{
    margin: 0px 30px;
    overflow: auto;
}

.headerLeft
{
    float: left;
    width: 50%;
}

.headerRight
{
    float: left;
    width: 50%;
}

/* Logo */

.logo a{
    text-decoration: none;
    color: black;
}


/* Navigation */

.navigation
{
    float: right;
}

.navStyle
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem
{
    float: left;
    padding: 0px 50px;
}

.navItem a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    color:#bdc4c8;
}

.navItem a.active{
    color:#3a484f;
}

.navItem a:hover{
    color:#3a484f;
}