


.bar
{
    width: 20px;
    height: 2px;
    background-color: #4fcdae;
}

.owl-theme .owl-dots .owl-dot.active span
{
    background-color: #4fcdae;
}

/* Mobile Styles */
@media only screen and (max-width: 636px) {
    /* owl */
    .owl-theme .owl-dots .owl-dot span
    {
        width: 6px;
        height: 6px;
        margin: 5px 3px;
    }

    .project
    {
        margin: 80px 10px;
    }

    .project .titleContainer
    {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .project .titleContainer .title
    {
        font-size: 46px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        padding-bottom: 50px;
    }
    .project .titleContainer .subTitle
    {
        font-size: 22px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#bdc4c8;
        font-weight: bold;
    }
    .project .titleContainer .description
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        padding-bottom: 50px;
        line-height: 28px;
    }

    .project .carouselContainer
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    .project .projectDetail
    {
        width: 90%;
        margin: 0 auto;
        position: relative;
        overflow: auto;
    }
    .project .projectDetail .projectLanguage
    {
        width: 100%;
        position: relative;
        padding-bottom: 50px;
    }

    .project .projectDetail .projectSummary
    {
        width: 100%;
        position: relative;
    }

    .projectDetail .projectSummary .projectSummaryGrid 
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
        padding-bottom: 40px;
    }
    .projectDetail .projectSummary .projectSummaryGrid .projectSummaryCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }
    .projectDetail>.projectSummary .projectSummaryTitles
    {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .projectDetail>.projectSummary .projectSummaryDescription
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}
  /* Tablet Styles */
@media only screen and (min-width: 637px) and (max-width: 901px) {
    .project
    {
        margin: 80px 10px;
    }

    .project .titleContainer
    {
        width: 90%;
        margin: 0 auto;
    }

    .project .titleContainer .title
    {
        font-size: 52px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        padding-bottom: 50px;
    }
    .project .titleContainer .subTitle
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#bdc4c8;
        font-weight: bold;
    }
    .project .titleContainer .description
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        padding-bottom: 50px;
        line-height: 28px;
    }

    .project .carouselContainer
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .project .projectDetail
    {
        width: 90%;
        margin: 0 auto;
    }

    .project .projectDetail .projectLanguage
    {
        width: 100%;
        position: relative;
        padding-bottom: 50px;
    }

    .project .projectDetail .projectSummary
    {
        width: 100%;
        position: relative;
    }

    .projectDetail .projectSummary .projectSummaryGrid 
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
        padding-bottom: 40px;
    }
    .projectDetail .projectSummary .projectSummaryGrid .projectSummaryCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }
    .projectDetail>.projectSummary .projectSummaryTitles
    {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .projectDetail>.projectSummary .projectSummaryDescription
    {
        font-size: 24px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}
/* Tablet Styles */
@media only screen and (min-width: 902px) and (max-width: 1599px) {
    .project
    {
        margin: 80px 10px;
    }

    .project .titleContainer
    {
        width: 90%;
        margin: 0 auto;
    }

    .project .titleContainer .title
    {
        font-size: 64px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        padding-bottom: 50px;
    }
    .project .titleContainer .subTitle
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#bdc4c8;
        font-weight: bold;
    }
    .project .titleContainer .description
    {
        font-size: 28px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        padding-bottom: 50px;
        line-height: 28px;
    }

    .project .carouselContainer
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .project .projectDetail
    {
        width: 90%;
        margin: 0 auto;
    }

    .project .projectDetail .projectLanguage
    {
        width: 100%;
        position: relative;
        padding-bottom: 50px;
    }

    .project .projectDetail .projectSummary
    {
        width: 100%;
        position: relative;
    }

    .projectDetail .projectSummary .projectSummaryGrid 
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
        padding-bottom: 50px;
    }
    .projectDetail .projectSummary .projectSummaryGrid .projectSummaryCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }
    
    .projectDetail>.projectSummary .projectSummaryTitles
    {
        font-size: 32px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .projectDetail>.projectSummary .projectSummaryDescription
    {
        font-size: 26px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 1600px) {
    .project
    {
        margin: 160px 30px;
    }

    .project .titleContainer
    {
        width: 90%;
        margin: 0 auto;
    }

    .project .titleContainer .title
    {
        font-size: 72px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        font-weight: bold;
        padding-bottom: 100px;
    }

    .project .titleContainer .subTitle
    {
        font-size: 32px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#bdc4c8;
        font-weight: bold;
    }

    .project .titleContainer .description
    {
        font-size: 34px;
        font-family: 'Darker Grotesque', sans-serif;
        color:#3a484f;
        padding-bottom: 50px;
    }

    .project .carouselContainer
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .project .projectDetail
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .project .projectDetail .projectLanguage
    {
        width: 100%;
        position: relative;
        padding-bottom: 50px;
    }

    .project .projectDetail .projectSummary
    {
        width: 100%;
        position: relative;
    }

    .projectDetail .projectSummary .projectSummaryGrid 
    {
        margin: 0;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: max-content;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        grid-gap: 30px;
    }
    .projectDetail .projectSummary .projectSummaryGrid .projectSummaryCell
    {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column-end: span 1;
        grid-row-end: span 1;
        border-radius: 10px;
    }
    .projectDetail>.projectSummary .projectSummaryTitles
    {
        font-size: 38px;
        font-weight: bold;
        font-family: 'Darker Grotesque', sans-serif;
        padding-bottom: 10px;
    }

    .projectDetail>.projectSummary .projectSummaryDescription
    {
        font-size: 32px;
        font-family: 'Darker Grotesque', sans-serif;
        word-wrap: break-word;
    }
}